body {
    background: #020105;
    margin: 0;
    font-family: 'Abel', sans-serif;
}

h1 {
    font-size: 40px;
}

h1, h2 {
    text-align: center;
    font-family: 'Rubik';
}

h2 {
    text-align: center;
}

a, a:active, a:visited {
    color: #fffef7;
}

#lines {
    position: absolute;
    top: 0;
    z-index: -300;
}

#logo {
    z-index: 1000;
    display: absolute;
    fill: #fffef7;
}

.logo {
    display: block;
    margin: auto;
    margin-top: 150px;

   background-image: url('images/ghostcat.png');
}

@keyframes fadein {
    from {
        margin-top: -200px;
        opacity: 0;
    }

    to {
        margin-top: 150px;
        opacity: 1;
    }
}

.content-wrapper {
    background: #020105;
    color: #fffef7;
    padding: 20px 80px;
    margin: auto;
    margin-top: 100px;
    width: 80%;
    min-height: 600px;
}

.content-wrapper p {
    max-width: 600px;
    font-size: 20px;
    line-height: 1.6;

    display: block;
    margin: auto;
    margin-bottom: 20px;
}

section {
    margin-bottom: 100px;
}

.available {
    padding: 20px;
    border: 1px solid #fffef7;
    display: block;
    text-align: center;
    text-decoration: none;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
}