body {
    background: rgb(244, 88, 153);
    color: #fdf7ff;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    width: 100%;
    margin: auto;
}

#pattern {
    width: 100%;
    display: none;
}

#logo {
    height: 140px;
    width: 140px;
    background-color: ##fdf7ff;
    margin-bottom: 10px;
    background-image: url('goat.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    display: none;
}

.green {
    background-color: rgb(244, 88, 153);
    color: #fefff9;
}

h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

h2 {
    font-size: 42px;
}

#intro {
    margin-top: 200px;
}

#intro p {
    font-size: 42px;
    margin-top: 0;
}

a {
    text-decoration: none;
    border-bottom: 4px solid #fdf7ff;
}

#intro .link {
    font-size: 28px;
    width: 60%;
}

section {
    padding: 80px 80px 20px 180px;
}

a, a:visited {color: inherit;};